In [1]:
import sys
sys.path.append("..")

In [2]:
from hydrocomp.iha.iha import IHA
from hydrocomp.iha.graphics import Graphics
import pandas as pd
import plotly as py
from hydrocomp.series.flow import Flow
from simulation import Simulation

In [3]:
file = "../Medicoes/PIMENTAL.csv"
data = pd.read_csv(file, ',', index_col=0, parse_dates=True)
flow = Flow(data=data, source='ONS', station="PIMENTAL")
flow.station = "Natural"
flow.data = flow.data.rename(columns={"PIMENTAL": "Natural"})
month = flow.month_start_year_hydrologic()
date_start = flow.date_start.replace(day=1, month=month[2]) #date_start=01/03/1970
date_end = flow.date_end.replace(day=31, month=month[0]-1) #date_end=31/08/2018
flow.date(date_start=date_start, date_end=date_end) #data range definition

threshold_high=11749.49
threshold_low=1397.0
mxt_flow = 13950 # Maximum turbochargeable flow
simulation = Simulation(data=flow, mxt_flow=mxt_flow)

In [4]:
scenery_eflows_ana_A = simulation.rule_02(hydro_start="A")

In [5]:
#Remover ano de 2016
date_start_del = pd.to_datetime("01/09/2015", dayfirst=True)
date_end_del = pd.to_datetime("31/08/2016", dayfirst=True)
data_del = pd.date_range(date_start_del, date_end_del, freq='D').values
month_water = flow.month_start_year_hydrologic()[0]
scenery_eflows_ana_A_del = scenery_eflows_ana_A[0].drop(data_del)
data_tvr_scenery_eflows_ana_A = pd.DataFrame(scenery_eflows_ana_A_del.TVR)
data_natural = pd.DataFrame(scenery_eflows_ana_A_del.Natural)
scenery_eflows_ana_A_del

               TVR  Derivation channel   Natural
1970-03-01  2500.0             8648.00  11148.00
1970-03-02  2500.0             9209.00  11709.00
1970-03-03  2500.0             9974.00  12474.00
1970-03-04  2500.0            10852.00  13352.00
1970-03-05  2500.0            11632.00  14132.00
...            ...                 ...       ...
2018-08-27   900.0              214.00   1114.00
2018-08-28   900.0              226.26   1126.26
2018-08-29   900.0              262.30   1162.30
2018-08-30   900.0              319.23   1219.23
2018-08-31   900.0              226.99   1126.99

[17350 rows x 3 columns]

# Scenery 02: ANA Start A